<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.dylowen.automaton</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>automaton</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>achievement</string>
		<string>airmail</string>
		<string>amc</string>
		<string>ancestry</string>
		<string>anchorfm</string>
		<string>anchorfmspotify</string>
		<string>App-prefs</string>
		<string>applefeedback</string>
		<string>appleiclouddrive</string>
		<string>applenews</string>
		<string>applenewss</string>
		<string>asana</string>
		<string>audio-player-event</string>
		<string>bofa</string>
		<string>brushstroke</string>
		<string>cakeslice</string>
		<string>calshow</string>
		<string>cameraplus</string>
		<string>cashme</string>
		<string>clashofclans</string>
		<string>clips</string>
		<string>com.google.sso.263492796725</string>
		<string>com.popcap.ios.BejBlitz</string>
		<string>com.popcap.ios.BejBlitz.From.Bej2</string>
		<string>com.popcap.ios.BejBlitz.From.Bej3</string>
		<string>comgoogleearth</string>
		<string>comgooglekeep</string>
		<string>contacts</string>
		<string>dbapi-1</string>
		<string>ddgLaunch</string>
		<string>ddgQuickLink</string>
		<string>diagnostics</string>
		<string>diags</string>
		<string>doordash</string>
		<string>duolingo</string>
		<string>ea47862</string>
		<string>ea850758</string>
		<string>facetime</string>
		<string>facetime-audio</string>
		<string>facetune</string>
		<string>fandango</string>
		<string>fb</string>
		<string>fb-messenger</string>
		<string>fb1414385748867269suffix</string>
		<string>fb1761190244145574amplifi</string>
		<string>fb225826214141508paid</string>
		<string>findmyfriends</string>
		<string>fitbit</string>
		<string>flickr</string>
		<string>fmf1</string>
		<string>fmip1</string>
		<string>ftp</string>
		<string>gamecenter</string>
		<string>garageband</string>
		<string>gboard</string>
		<string>goodreads</string>
		<string>google</string>
		<string>googleassistant</string>
		<string>googlecalendar</string>
		<string>googlechrome</string>
		<string>googledocs</string>
		<string>googledocs-v2</string>
		<string>googledrive</string>
		<string>googleearth</string>
		<string>googlegmail</string>
		<string>googlemaps</string>
		<string>googlephotos</string>
		<string>googlesheets</string>
		<string>googletranslate</string>
		<string>googlevoice</string>
		<string>grenada</string>
		<string>halide</string>
		<string>havecake</string>
		<string>hbogo</string>
		<string>hbonow</string>
		<string>http</string>
		<string>https</string>
		<string>hulu</string>
		<string>hyperlapse</string>
		<string>ibooks</string>
		<string>imdb</string>
		<string>imovie</string>
		<string>instagram</string>
		<string>itms</string>
		<string>itms-apps</string>
		<string>itms-apps</string>
		<string>itms-books</string>
		<string>itms-bookss</string>
		<string>itms-gc</string>
		<string>itms-gcs</string>
		<string>itms-itunesu</string>
		<string>itms-watch</string>
		<string>itms-watchs</string>
		<string>itmss</string>
		<string>itsradio</string>
		<string>itsradios</string>
		<string>itunesradio</string>
		<string>itunesradios</string>
		<string>lastpass</string>
		<string>launch</string>
		<string>litely</string>
		<string>map</string>
		<string>mapitem</string>
		<string>maps</string>
		<string>mailto</string>
		<string>message</string>
		<string>mobilenotes</string>
		<string>moviepass</string>
		<string>music</string>
		<string>musics</string>
		<string>nflx</string>
		<string>paypal</string>
		<string>photos-redirect</string>
		<string>photoscan</string>
		<string>pinterest</string>
		<string>readdle-spark</string>
		<string>remote</string>
		<string>sgnl</string>
		<string>shoebox</string>
		<string>shortcuts</string>
		<string>skype</string>
		<string>sms</string>
		<string>snapchat</string>
		<string>speedtest</string>
		<string>spotify</string>
		<string>squarecash</string>
		<string>steller</string>
		<string>tel</string>
		<string>tencent1105771533</string>
		<string>tencentlaunch1105771533</string>
		<string>tumblr</string>
		<string>tweetbot</string>
		<string>twitch</string>
		<string>twitter</string>
		<string>videos</string>
		<string>vimeo</string>
		<string>voicememos</string>
		<string>vsco</string>
		<string>waze</string>
		<string>whatsapp</string>
		<string>workflow</string>
		<string>workflow</string>
		<string>workflow</string>
		<string>wxfa242abf8cdd841a</string>
		<string>x-apple-calevent</string>
		<string>x-apple-reminder</string>
		<string>youtube</string>
		<string>zoomus</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
